@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Audio;
    src: url(../Assets/Audiowide-Regular.ttf);
}
@font-face {
    font-family: Libre Baskerville;
    src: url(../Assets/LibreBaskerville-Regular.ttf);
}

.markiplierRed{
    background-color: #AD0000;
}
.myGrey{
    background-color: rgb(30, 30, 30);
}
.pfpImg{
    width: 400px;
    display: block;
}
.headTxt{
    font-family: Audio;
    color: white;
}
.bdyTxt{
    font-family: Libre Baskerville;
    color: white;
}
.footBd{
    border-top: 2px solid black;
}
.heroLogo{
    position: absolute;
    margin: auto;
    top: 100px;
    right: 42%;
}
.readable{
    background-color: rgb(0, 0, 0, 0.4);
    padding: 25px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 11px;
}
.heroImg{
    height: 300px;
    object-fit: cover;
    object-position: 0px 30%;
}

@media screen and (max-width: 786px){
    .heroLogo{
        right: 15%;
    }
}